/*.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 25px 0px 25px 0px;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.leader {
  padding: 10px 0px 10px 0px;
}

body {
  padding: 10px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #512da8;
}*/

body {
  text-align: unset;
}

.header-text-style {
  text-transform: uppercase;
  color: #0157ba;
  font-weight: bold;
  font-size: 12px;
  text-align: end;
}

.header-background {
  background-color: yellow;
}

.background-header-image {
  background: url(../img/desktop/Hero\ Andres\ +\ Thumb.svg) no-repeat;
  min-height: 60vh;
  background-size: cover !important;
  background-position: center;
}

.embed-responsive-3by2 {
  padding-bottom: 65%;
}

@media (max-width: 765px) {
  .embed-responsive-3by2 {
    padding-bottom: 55%;
  }
}

.text-1 {
  color: white;
  font-weight: lighter;
  font-size: small;
}

.text-2 {
  color: #fffc00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.7vh;
}

.text-3 {
  color: white;
  font-weight: lighter;
  font-size: small;
}

.text-4 {
  color: #fffc00;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vh;
}

.card {
  border: none;
}

.card-group {
  margin-top: 10vh;
}

.card-img-top {
  width: 15%;
  height: 15%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right-outline {
  border-right: 1px solid;
  border-right-color: rgba(245, 245, 245, 0.959);
}

@media (max-width: 575px) {
  .right-outline {
    border: none;
  }
}

.card-title {
  font-size: x-small;
  font-weight: bolder;
}

.card-text {
  font-size: x-small;
}

.figure {
  position: relative;
  padding: 0px;
}

.text-caption {
  position: absolute;
  font-size: 8px;
  font-weight: 700;
  color: white;
  top: 68%;
  left: 20%;
}

@media (max-width: 575px) {
  .text-caption {
    position: absolute;
    font-size: 6px;
    font-weight: 700;
    color: white;
    top: 60%;
    left: 20%;
  }
}

.footer {
  background-color: #eaf7ff;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
  background: #eaf7ff 0% 0% no-repeat padding-box;
}

.footer-bottom-text {
  padding-top: 2vh;
  text-align: center;
  font-weight: bold;
  font-size: x-small;
}

.highlight-footer-text {
  color: #0084ff;
}
